*{
	transition: all .1s ease-in;
	font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
}

html {
	height: 100%
}

body{
	min-height: 100%;
	box-sizing: border-box;
	margin: 0;
	background-color: #3B3F45;
	border: 15px solid white;
}

.header{
	margin-bottom: 40px;
	padding: 5px;
	text-align: center;
	line-height: 60%;
}

h1 + p{
	font-size: 20px;
}

.header, [type="button"]{
	color: #EB7E7F;
	background-color: #4A4F56;
}


.list, [type="button"]{
	width: 55%;
	margin: 0 auto;
}

.list-item{
	display: block;
	box-sizing: border-box;
	height: 50px;
	padding: 15px;
	color: white;
	font-size: 20px;
}

.description{
	font-size: 15px;
	color: #C5C2C7;
}

.description:before{
	content: " (";
}

.description:after{
	content: ")";
}

.list-item:nth-child(odd){
	background-color: #88839E;
}

.list-item:nth-child(even){
	background-color: #7A7593;
}

.list-item:hover{
	background-color: #625E77;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

input:checked ~ span{
	text-decoration: line-through;
	color: #A3A0AD;
}

[type="button"]{
	display: block;
	height: 50px;
	margin-top: 20px;
	border: none;
	font-size: 20px;
}

.list-item:active, [type="button"]:active{
	background-color: #EB7E7F;
}